
.nav-border-bottom {
    border-bottom: 0px;
}
.no-gutter.grid12-9 {
    width: 100%;
	
}
 .grid12-1, .grid12-2, .grid12-3, .grid12-4, .grid12-5, .grid12-6, .grid12-7, .grid12-8, .grid12-9 {
   
    margin-right: -5%;
}

h2,h4,h5,.nav-regular .nav-item.level0 > a,#subscribe-form label,.footer .heading{
	    font-family: Arial, Tahoma; 
	 }
.nav-regular .nav-item.level0 > a {
    padding-left: 0px;
}
.footer-copyright
{
	padding-left:130px;
	color:#000;
}

 .form-search .button {
	
	 width:45px;
	 height:45px;
	 border: 1px solid #fff;
    color: #fff;
}
 .form-search {

	 float:right;
	width:40px;
}
.form-search .input-text {
	
    background-color: #fff;
    width:45px;
	 height:46px;
	opacity:0;
}
.form-search:hover .input-text {
	
	opacity:1;
    width: 350px;
}

.header_top{
	padding-left:350px; 
	color:#FFF;
}
.nav-regular .nav-item {
    padding-left: 30px;
}
 .right {
 
    padding-left: 20px;
}
#subscribe-form .input-text {
    width: 458px;
    height: 45px;
}
#subscribe-form .button {
	height: 45px;
    width: 115px;
    float: left;
    background-color: #6eb0ac;
	color:#fff;
	font-size:20px;
	
}
.feature {
    margin: 0px 0;
}
#subscribe-form label {
  
    padding-right: 20px;
    font-size: 16px;
}
#subscribe-form {
    padding-right: 180px;
	padding-bottom: 50px;
}
 .grid12-9{
	 line-height:30px;
	 font-size:14px;
 }
 .grid12-12 {
   
    margin-left: 0%;
 
}

.std
{
	padding-left:100px;
}
.container {
    max-width: 100%;    width: 100%;
}


 #nav:after, .main:after {
    display: none;
}
.nav-regular .nav-item.level0 > a {
    color: #fff;
}

.title2
	{
		text-align:center;
			}

.grid12-4 {
    width: 5%;
}

.main-container {
    background-color: #fff;
	
}
.button {
   
    color: #fff;
}
.item-center{
	width: 56%;
	margin: 0px auto;
	line-height: 36px;
}
.header-primary-container{

	padding-right:100px;
	height: 300px;
	    position: relative;
	
}
.header-top-container{
	background-color: #6eb0ac;
	color: #fff;
}

.center-column{
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

.row1 img{
	width: 45%;
	height: auto;
	float: left;
	margin-right: 24px;
	margin-bottom: 85px;
}
.footer-secondary{
	background-color: #fff;
}

#subscribe-form .input-text{
	width: 450px;
}
.footer-top-container{
	background-color: #eeeeee;
}
.footer .ib {
   
    color: #000;
}
.footer-primary-container{
	background-color: #eeeeee;
}
.footer-primary{
	height: 47px;
}
.footer-primary {
    padding-top: 10px;
    
}




@media only screen and (min-width:960px) and (max-width: 1190px){
	
	.header-primary-container{

	padding-right:55px;
	
}
	.form-search:hover .input-text {
	
	opacity:1;
    width: 300px;
}
	.inner-container:before, .inner-container:after {
 
    padding-left: 160px;
}

	#subscribe-form .input-text {
    width: 308px;
    height: 35px;
}
#subscribe-form .button {
	height: 35px;
    width: 85px;
    float: left;
    background-color: #6eb0ac;
	font-size:15px;
	
}

#subscribe-form label {
  
    padding-right: 0	px;
    font-size: 15px;
}
 	#subscribe-form {
    padding-right: 0px;
}
	.aboutconten2
{ 
padding-left: 0px;

	}
  .title
{  
	
padding-left: 0px;
	
}
		.std
{
	padding-left:100px;
}
   	.item-center{
	width: 80%;
	}
    .newsletter-wrapper{
	margin-top: 33px;
	}
	#subscribe-form .input-text{
	width: 380px;
	}
		.header .item-left {

    margin-right: -110px;
	
   
}


}
@media only screen and (min-width: 770px) and (max-width: 959px) {
	


	
	.footer-copyright
{
	padding-left:100px;
	
}

	.header_top{
	padding-left:150px;
	
}
	#subscribe-form .input-text {
    width: 250px;
    height: 35px;
}
#subscribe-form .button {
	height: 35px;
    width: 55px;
    float: left;
    background-color: #6eb0ac;
	font-size:13px;
	
}

#subscribe-form label {
  
    padding-right: 5px;
    font-size: 15px;
} 
	#subscribe-form {
    padding-right: 100px;
}
  	.aboutconten2
{ 
padding-left: 0px;

	}
  .title
{  
	
padding-left: 0px;
	
}
.std
{
	padding-left:80px;
}
	.item-center{
	width: 100%;
	}
	.newsletter-wrapper{
	margin-top: 33px;
	}
	
	.form-search .button {
	 border: 1px solid #000;
    color: #000;
}
.mobnav-trigger {
    background-color: #6eb0ac;
    
}

	img {
    
    width: 100%;
}
.img{
float:none;

}

}
@media only screen and (min-width: 360px) and (max-width: 769px) {
	img {
    
    width: 100%;
}
	.img{
float:none;

}

	
.header-primary-container {
    width: 100%;
    height: inherit;
}
	.form-search .button {
	 border: 1px solid #000;
    color: #000;
}

.header-mobile .logo-wrapper--mobile .logo {
    display: none;
   
}
	
	.footer-copyright
{
	padding-left:30px;
	
}

	
 	.aboutconten
{ 
width: 350px;
}
 	.aboutconten2
{ 
padding-left: 0px;
width: 350px;
	}
	.header_top{
	    padding-left: 0px;
    font-size: 10px;
	
}
	#subscribe-form .input-text {
    width: 200px;
    height: 35px;
}
#subscribe-form .button {
	height: 35px;
    width: 55px;
    float: left;
    background-color: #6eb0ac;
	font-size:12px;
	
}

#subscribe-form label {
  float: left;
    padding-right: 5px;
    font-size: 15px;
}
		#subscribe-form {
       padding-right: 0px;
    position: absolute;
    left: 50px;
    top: 1510px;
}
 	.aboutconten2
{ 
padding-left: 0px;

	}
.title
{  
	
padding-left: 0px;
	
} 
h5{width: 362px;}
.std
{
	    padding-left: 10px;
    padding-right: 10px;
}
	
	.row1 img{
	width: 100%;
	height: auto;
}
	.col3-set {
		width: 96%;
		margin: 2%;
	}
	

	.item-center{
	width: 100%;
	}
	.newsletter-wrapper{
	margin-top: 35px;
	}
	#subscribe-form .input-text{
	width: 299px;
	}

}
@media only screen and (max-width: 359px){
		.header-primary-container{
			background-image:none;

}
.header-mobile .logo-wrapper--mobile .logo {
    display: none;
   
}
.header-primary-container {

    height: 185px;
 
}
.inner-container {
  
    width: 280px;
}

	.footer-copyright
{
	padding-left:0px;
	
}
	
 .form-search .button {
	
	 width:45px;
	 height:45px;
	 border: 1px solid #000;
    color: #000;
}
	.form-search:hover .input-text {
	
	opacity:1;
    width: 250px;
}
	.header_top{
	padding-left:0px;
	font-size:10px;
}
	#subscribe-form .input-text {
  	
    height: 25px;
}
#subscribe-form .button {
	height: 25px;
    width: 50px;
    float: left;
    background-color: #6eb0ac;
	font-size:10px;
	
}

#subscribe-form label {
  
    padding-right: 0px;
    font-size: 9px;
}
	
		#subscribe-form {
    padding-right: 0px;
}
 	.aboutconten
{ 
width: 200px;
}
	.aboutconten2
{ 
padding-left: 0px;
width: 200px;
	}
.title
{  
	
padding-left: 0px;
	
}
	.std
{
	padding-left:0px;
}
	.row1 img{
	width: 100%;
	height: auto;
}
	.col3-set .col-1{
		width: 96%;
		margin: 2%;
	}
	.col3-set .col-2{
		width: 96%;
		margin: 2%;
	}
	.col3-set .col-3{
		width: 96%;
		margin: 2%;
	}

	.item-center{
	width: 100%;
	}
	.newsletter-wrapper{
	margin-top: 0px;
	}
	#subscribe-form .input-text{
	width: auto;
	}
	#subscribe-form{
   
       position: absolute;
    left: 13px;
    top: 1686px;
    float: left;
}
}

