.footer-bottom {
    background-color: #fff;
}
.aboutconten {
    float: left;
    width: 27%;
    font-size: 14px;
}
.aboutconten2 {
    float: left;
    width: 27%;
    padding-left: 20px;
    font-size: 14px;
}
/* header slider */
.nav-regular .nav-item.level0.active > a {
    background-color:inherit;
    
}
.header-container:after{
    display: block;
    z-index: 4;
    position: relative;
    margin: -20px;
    content: ".";
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}
.header-top-container { 
    z-index: 3;
    position: relative;
}
.grid12-12 {
    width: 90%;
}
.no-gutter.grid12-9 {
    margin-left: 115px;
}
.std {
	padding-left:0px;
}
.img {
    float: left;
    margin: 351px 67px;
}
.title {
  
    margin: 330px 150px;
}
.slidecategory {
    background-color: #eeeeee;
    padding-top: 20px;
    height: 135px; 
}
.slidecategory img{ padding-left:50px}
.inner-container {
    padding-left: 0px;
    padding-right: 0px;
}

.category-products {
    margin: 245px 0 10px;
}



.header-primary-container {
        background-image:url(../../../../../banner.png);
	position:absolute;
}

.header-primary-container2 {
    position: relative;
    z-index: 3;
}
.header-regular .right-column .search-wrapper {
    position: relative;
    z-index: 2;
}
.header-regular .logo-wrapper .logo img {
	width:150px;
    z-index: 2;
    position: relative;
}
.sli {
    position: relative;
    top: 0px;
	z-index:3;
}

.slider-arrows2 .owl-controls	.owl-buttons .owl-prev {
    opacity: 1;
    background-color: #000;
 
}
.pagination-pos-over-bottom-centered	.owl-pagination {
      display: none;
}
.slider-arrows2 .owl-controls	.owl-buttons .owl-next {
     opacity: 1;
    background-color: #000;

}
.caption { 
       margin: 0 0 15% 50%;
}

.gia {
    background-color: #6eb0ac;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 45px;
	margin:-55px 409px;
    color: #fff;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
	position:relative;
	z-index:1000;
}
 .gia2
{
	margin: -11px;
    font-size: 15px;     
}

.caption.dark2 .heading{background-color: #6eb0ac;
 
    font-size: 30px;
    margin: 80px 276px;
    color: #fff;
	position:relative;
	z-index:1000;

	}
.slid
{ color:#fff;

}
	.aa{ position:absolute;top: 35px;}
.permanent {
    background-color: rgba(0,0,0, 0.5);
    margin: -36px 372px;
    font-size: 20px;
    height: 50px;
  
    position: relative;
    z-index: 1000;
}
.caption .heading {
    font-size: 2.3em;
}
.slider-arrows2 .owl-controls	.owl-buttons .owl-next {
    right: 1285px;
    top: 540px;
	
}
.slider-arrows2 .owl-controls	.owl-buttons .owl-prev {
 
    top: 480px;
    left: 14px;
}
.owl-controls .owl-buttons .owl-prev:before {
       color: #fff;
    font-size: 51px;
}
.owl-controls .owl-buttons .owl-next:before {
  
    font-size: 55px;
    color: #fff;
}
/* product */
.product img {

      padding-top: 5px;
    max-width: 99%;
}
.product a{
    float: left;

}
.product p{
 float: left;
 padding-top: 250px;

margin: 25px -270px;
color: #fff;
font-size:20px;
}
.product div{
 float: left;
padding-top: 300px;
    margin: 25px -100px;
color: #fff;
font-size:20px;
}

