<ul class="products-grid products-grid--max-4-col first last odd">
<?php


$product=$this->newProduct();

foreach($product as $_product)
{
     echo "<li class=\"item last\">";
	echo "<a href='".$_product->getProductUrl()."'><image src='".$_product->getImageUrl()."'/></a>";
	echo $_product->getName().'<br/>';
	echo $_product->getPrice().'<br/>';
	
		echo "<a title=\"View Details\" class=\"button\" href=\"".$_product->getProductUrl()."\">View Details</a></li>";
}
?>
</ul>