<ul class="product">
<?php

$product=$this->getProduct();
$helpImg = Mage::helper('infortis/image');
$imgWidth = $this->getImgWidth();
 $imgHeight = $this->getImgHeight();

foreach($product as $_product)
{

  

	echo "<a href='".$_product->getProductUrl()."'><image  src='".$helpImg->getImg($_product, $getImgWidth, $imgHeight, 'small_image')."'/></a>";
	echo "<p>".$_product->getName().'</p>';
	echo '<div>'.$_product->getPrice().'</div>';

}
?>
</ul>